@import url('https://fonts.googleapis.com/css2?family=Lato&family=Libre+Baskerville:wght@700&display=swap');

/* ---------------------------------------- */
/* Global Styles */

/* Fonts */
h1,h2,h3,h4,h5,h6 {
    font-family: 'Libre Baskerville', serif;
}

p {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

/* Spacing */
.full-height {
    height: 100vh;
}

/* ---------------------------------------- */
/* Components */

button {
    border: none;
    padding: 16px 20px;
    border-radius: 8px;
    background: #18382B;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: white;
}

/* ---------------------------------------- */
/* Bootstrap Component Overrides */

/* Navigation */

.nav-link {
    font-family: 'Lato', sans-serif;
    color: rgba(0, 0, 0, 0.60);
}

.nav-link:hover {
    color: #18382B;
}

.nav-link.active {
    border-bottom: 2px solid #18382B;
    color: #18382B;
}


/* Carousel */

.carousel-item {
    background-color: #E6F2E9;
}

.carousel-control-next, .carousel-control-prev {
    top: auto;
    right: auto;
    left: 24px;
    bottom: 24px;
    width: auto;
    background-color: white;
    padding: 12px;
    border-radius: 50%;
}

.carousel-control-next {
    left: 84px;
}

/* Card */

.card {
    border-radius: 150px 150px 12px 12px;
    background: #F3F3F3;
    text-align: center;
    height: 440px;
    border: none;
}

.card-img-top {
    width:auto;
    height:320px;
    margin: auto;
    transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1); 
}

.card-img-top.small {
    height:200px;
}

.card-text {
    color: #18382B;
}

/* ---------------------------------------------------------------- */
/* Home Page */

.hero-image {
    height: 90vh; 
    position: relative;
    bottom: -100px;
}


/* Custom Accordion Styles */
.accordion-button {
  background-color: #18382B;
  color: white;
  font-size: 18px;
  border: none;
}

.accordion-button:hover {
  background-color: #165b44;
}

.accordion-button:not(.collapsed)::after {
  content: "-";
}

.accordion-button.collapsed::after {
  content: "+";
}

.accordion-body {
  background-color: #F3F3F3;
  color: #18382B;
}

.col-md-4 {
    padding: 10px; 
  }
  
  .col-md-4 img {
    width: 100%; 
    height: auto; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  }
  
  .col-md-4 h2 {
    font-size: 24px; 
    margin-top: 10px; 
  }
  
  .col-md-4 p {
    font-size: 16px; 
    margin-bottom: 20px; 
  }
 
  .carousel-inner {
    display: flex;
    overflow: hidden; 
  }
  
  .carousel-item {
    height: 100vh;
  }
  
  .carousel-item.active {
    display: flex;
    align-items: center; 
  }
  
  .carousel-item .container {
    margin-top: 50px; 
    overflow-y: auto; 
  }
  
  .carousel-item p {
    font-size: 18px;
  }

  .accordion-body img {
    display: block; 
    max-width: 40%; 
    height: auto; 
    margin: 10px auto; 
    border-radius: 8px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  }


  /* Buttons */
button {
  padding: 12px 20px;
  background-color: #18382B;
  color: white;
  border: none;
  border-radius: 8px;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #165b44;
}

/*  Wishlist Page */
.container {
  margin-top: 10px;
}

.table {
  width: 100%;
}

.table th {
  background-color: #F3F3F3;
  font-size: 18px;
}

.table td {
  padding: 8px;
  text-align: center;
}

.remove-btn {
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

.remove-btn:hover {
  background-color: #c82333;
}


.table img {
  width: 250px; 
  height: 250px; 
  object-fit: cover; 
  border-radius: 8px; 
}


.table td {
  text-align: center;
}


.table img {
  display: block;
  margin: auto;
}



#hero-image-2 {
  height: 100px;
  width: 300px; 
  object-fit:  fill; 
}


.carousel-item .container {
  display: flex;
  justify-content: center;
  align-items: center;
}